# See https://help.github.com/ignore-files/ for more about ignoring files.

# config files

.editorconfig
.eslintrc
.jshintrc
.lesshintrc

# dependencies
/node_modules/*
/bower_components/*

# testing
/coverage/*
/.tmp/*

# production
/build/*
/archive/*
/dist/*

# misc
.DS_Store
**/.DS_Store
.env.local
Thumbs.db
desktop.ini

# IDE
*.sublime-*
*.code-workspace
/.idea
.vscode/*
*~

# log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
null

package-lock.json

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
