body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-auto-flow: row;
  grid-template-areas: "header" "main";
  grid-template-rows: [header] 6% [main] 1fr;
  color: black;
}

header {
  grid-area: header;
  grid-template-columns: minmax(1%, 10%) 1fr 10rem;
  padding:0.5rem;
  display: grid;
  align-content: center;
  font-size: 2rem;
  > .action {
    display: flex;
    align-items: center;
  }
  > .caption {
    text-align: center;
    font-size: large;
    h1 {
      font-size: 3rem;
    }
  }
}

main {
  grid-area: main;
  background-color: #391849;
  color: #d2d2b2;
  height: 100vh;
  padding: 1rem;
  display: grid;
  text-align: center;
  justify-content: space-around;
  align-content: flex-start;

 > div {
  font-size: 10rem;
 }

 > p {
  font-size: 4rem;
 }

}