* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

@supports font-format(woff2) {
  @font-face {
    font-family: "sportrop";
    src: url("../assets/fonts/sportrop-webfont.woff2") format("woff2"), url("../assets/fonts/sportrop-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "atkinson";
    src: url("../assets/fonts/atkinson-hyperlegible-regular-102-webfont.woff2") format("woff2"),
      url("../assets/fonts/atkinson-hyperlegible-regular-102-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "MudraMohta";
    src: url("../assets/fonts/Mudra_Mohta-Regular.woff2") format("woff2"), url("../assets/fonts//Mudra_Mohta-Regular.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }
}

@font-face {
  font-family: "boisuStroke";
  src: url("../assets/fonts/Boisu-Stroke.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ananda";
  src: url("../assets/fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "sportrop", "atkinson", "MudraMohta", "Ananda", "boisuStroke", "Roboto", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 16px;
  background-color: #f8f8f8;
}
