* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

@supports font-format(woff2) {
	@font-face {
		font-family: "boisuStroke";
		src: url("../assets/fonts/Boisu-Stroke.otf") format("otf");
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: "Roboto";
		src: url("../assets/fonts/Roboto-Black.ttf") format("ttf");
		font-weight: normal;
		font-style: normal;
	}
}

body {
  font-family: "boisuStroke", "Roboto", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 16px;
  background-color: #f8f8f8;
}