
nav  {
  border: 1px solid grey;
  padding: 0;
  display: grid;
  width: 100%;
  list-style-type: none;
  place-items: center;
  grid-template-columns: 8% 1fr 20%;
}

.canvas__header {
  height: 2rem;
  padding: 1rem;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: lavender;
  align-items: center;
}

.canvas__div {
  display: grid;
  container-name: canvas;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-gap: 1rem;
}

@container canvas (width < 700px) {
  .canvas__div {
    grid-template-columns: repeat(2, 1rem);
  }
}

.canvas__container {
  padding: 0.5rem;
}

input[type=button]{
  height: 2rem;
  padding: 4px;
  width: 5rem;
  color: white;
  background-color: mediumblue;
  border: 0;
  border-radius: 4px;
  margin-inline: 0.5rem;
  cursor: pointer;
}

#name {
  padding-inline: 10px;
  font-size: 1.5rem;
  padding: 0.5rem;
  letter-spacing: 2px;
}
