:root {
  --large: 600px;
  --small: 200px;
}

.canvas__header {
  height: 2rem;
  padding: 1rem;
  color: black;
  display: flex;
  justify-content: start;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: lavender;
  align-items: center;
}

.canvas__div {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-auto-columns: fit-content(700px) fit-content(700px) 1fr;
  grid-gap: 1rem;
}

.canvas__container {
  padding: 0.5rem;
}

input {
  margin-inline-end: 4px;
}

input[type="text"] {
  padding-inline: 10px;
  font-size: 1rem;
}
