@import url(./base.css);

:root {
  --radius: 10%;
}

.container {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 3rem 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-gap: 0.25rem;
}

header {
  grid-area: header;
  justify-self: stretch;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

input[type="checkbox"] {
  margin-right: 8px;
}

label {
  cursor: pointer;
}

.instruction {
  text-align: center;
  line-height: 1.8em;
  color: black;
  background-image: linear-gradient(to right, #3f87a6, #ebf8e1 30%, #f69d3c);
}

.board {
  display: grid;
  place-items: center;
  color: black;
  grid-template-areas:
    "char"
    "info";
  grid-auto-flow: row;
  grid-gap: 0.5rem;
  grid-template-rows: 1fr minmax(1rem, auto);
  height: 100%;
}

.char {
  grid-area: char;
  -webkit-background-clip: text;
  background-clip: text;
  color: white;
  font-weight: 900;
  font-size: 85ch;
  font-variant: common-ligatures tabular-nums;
  font-family: "Mudra_Mohta"; /* "atkinson_hyperlegibleregular"; */
  mix-blend-mode: unset;
  filter: opacity(0.9);
  text-transform: uppercase;
}

.info {
  grid-area: info;
  justify-self: stretch;
  font-size: 2rem;
  text-align: center;
  opacity: 0.75;
  text-overflow: ellipsis;
  background-color: rgba(0, 0, 0, 0.5);
  color: blanchedalmond;
}

.bg {
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  overflow: hidden;
}

.action {
  padding-inline-start: 1rem;
}
