/* following :root block added by css color collector */
:root {
	--main__bg--1: beige;
}
main {
  display: grid;
  background-color: var(--main__bg--1);
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 20rem;
}

.header {
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  align-items: center;
  height: 4rem;
  padding: 1rem;
}
