.container {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 3rem 1fr 3rem;
  grid-template-areas: 'header' 'main' 'footer';
  grid-gap: 4px;
  align-content: center;
}

.header {
  font-size: 2rem;
}

.header--content {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: firebrick;
}

.switch {
  background-color: black;
  height: 2rem;
  width: 2rem;
  border-radius: 050%;
  cursor: pointer;
}

.main {
  font-family: system-ui, cursive;
  background-color: #e7dcd5;
}

ul {
  list-style-type: none;
}

.nav--list {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0.5em;
  margin: 1.5rem;
  height: 100vh;
}

a:local-link {
  color: green;
}

.list--item:nth-child(1) {
  background-image: linear-gradient(45deg, #c352a2 20%, #d41f56 30%, #acb9ba);
}

.list--item:nth-child(2) {
  background-image: linear-gradient(45deg, #a57657, #ca4f2a 30%, #5d8374);
}

.list--item:nth-child(3) {
  background-image: linear-gradient(to top, #8c8d71, #a2a99a 10%, #c3a529);
}

.list--item:nth-child(4) {
  background-image: linear-gradient(45deg, #cdd0ad, #755f6b 30%, #b6bc9f);
}

.list--item:nth-child(5) {
  background-image: linear-gradient(40deg, #7c814f 50%, #96bac8b3 30%, #50568f);
}

.list--item:nth-child(6) {
  background-image: radial-gradient(#465971, #a1ab8de8);
}

.list--item {
  place-content: center;
  display: grid;
  border-radius: 5px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.link--base {
  color: #f0e5f0;
  font-size: 6rem;
  transition: all 0.5s ease-in-out;
  padding: 1rem;
}

.link--base:hover {
  color: #23424d;
  animation: moving 2s;
}

@keyframes moving {
  from,
  to {
    transform: translateX(0);
    color: aliceblue;
  }

  30% {
    transform: translateX(20px);
    color: #5b3333;
  }
}

footer {
  text-align: center;
  align-self: center;
}
