header {
  grid-area: header;
  grid-template-columns: minmax(1%, 10%) 1fr auto;
  padding:0.5rem;
  display: grid;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid grey;
  > .action {
    display: flex;
    align-items: center;
  }
  > .caption {
    text-align: center;
    font-size: large;
  }
  > .option {
    text-align: center;
    border: 1px solid grey;
    width: 1em;
    display: b;
    height: auto;
    padding: 0.5rem;
    font-size: x-large;
    cursor: help;
  }
}

dialog {
  border: 1px solid #171208;
  background: #140707;
  color: white;
  font-size: large;
  &[open] {
    border-radius: 4px;
  }
  button {
    float: right;
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
  }
}

::backdrop {
  background-image: linear-gradient(295deg, #df65df, #dd775f, #aac0d5, #ade800);
  opacity: 0.75;
}

.operator__container {
  align-content: center;
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  background-color: cornsilk;
  padding:0.5rem;
}

form {
  padding-inline: 0.5rem;
}

.btn__operator {
  display: inline-block;
  font-size: 2rem;
  color: rgb(48, 188, 48);
  cursor: pointer;
  margin-inline: 1rem;
  border: 1px solid rgb(28, 12, 12);
  height: 3rem;
  width: 3rem;
  background-color: black;
  border-radius: 1rem;
}

.operator {
  font-size: 15dvmin;
  color: rebeccapurple;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.number {
  font-size: clamp(15ex,-.75rem + 20dvw, 51ex);
  color: #25280d;
  padding: 0.5rem;
  width: max(30dvh, 30dvw);
  margin-block: 0.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-variant-numeric: slashed-zero;
}

.one {
  color: hsl(284deg 25% 7%);
}

.two {
  color: hsl(120 30% 30%);
}

.three {
  width: 4ch;
  box-shadow: 0px 80px 50px -30px rgba(0, 0, 0, 0.15);
}

::placeholder,
::-webkit-input-placeholder {
  color: #c9b7e4;
}

input:invalid + span::before {
  content: "✖";
  color: red;
  font-size: 10dvh;
  position: inherit;
}

input:focus-within:is(:valid) + span::before {
  content: "✓";
  color: green;
  font-size: 10dvh;
  position: inherit;
}

.result {
  display: block;
  color: white;
}

.output {
  caret-color: pink;
  caret-shape: underscore;
  text-align: center;
  background-color: aliceblue;
  color: #9c32d2;
}

